!!!
%html
  %head
    %title Trove Game
    %script{src: '/jquery-2.0.1.min.js', type: 'text/javascript'}
    %script{src: '/app.js', type: 'text/javascript'}
  %body
    hello world

    %form#guess
      %input#answer{type: 'text'} 
      %input#submit{type: 'submit', value: 'Submit'}

