!!!
%html
  %head
    %title Trove Captcha
    %script{src: url('/jquery-2.0.1.min.js'), type: 'text/javascript'}
    %script{src: url('/index.js'), type: 'text/javascript'}
    %link{rel: 'stylesheet', href: url('/index.css')}
  %body
    .captcha
      %h1
        %img{ src: url('/trove.gif') }
        Captcha
        %small Helping Digitise Australia's History
      %h2 National Library of Australia

      .images
      .arrow
      %input{ type: 'text', name: 'words', placeholder: 'Type the above words here' }